<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample Uberfire Editor"
            extensions="uf"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.uberfire.eclipse.browser.editors.UberfireEditor"
            id="org.uberfire.eclipse.editors.TextEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.uberfire.eclipse.browser.editors.UberfireEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="drl"
            icon="icons/sample.gif"
            id="org.uberfire.eclipse.editors.DRLEditor"
            name="Uberclipse Drools Rule Editor">
      </editor>
   </extension>


</plugin>
