<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample Uberfire Editor"
            extensions="uf"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.uberfire.eclipse.browser.editors.UberfireEditor"
            id="uberfire.eclipse.browser.editors.UberfireEditor">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Uberfire Editor Category"
            id="uberfire.eclipse.browser.commands.category">
      </category>
      <command
            name="Uberfire Editor Command"
            categoryId="uberfire.eclipse.browser.commands.category"
            id="uberfire.eclipse.browser.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="uberfire.eclipse.browser.commands.sampleCommand"
            class="org.uberfire.eclipse.browser.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="uberfire.eclipse.browser.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Uberfire Editor Menu"
               mnemonic="M"
               id="uberfire.eclipse.browser.menus.sampleMenu">
            <command
                  commandId="uberfire.eclipse.browser.commands.sampleCommand"
                  mnemonic="S"
                  id="uberfire.eclipse.browser.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="uberfire.eclipse.browser.toolbars.sampleToolbar">
            <command
                  commandId="uberfire.eclipse.browser.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello to Uberfire Editor"
                  id="uberfire.eclipse.browser.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
