<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
         <!-- NOTE: the last segment of the extension id ("EclipseTextEditor" in this example) must match the @WorkbenchEditor(identifier) value -->
      <editor
            name="Uberclipse Text Editor"
            extensions="uf"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.uberfire.eclipse.browser.editors.UberfireEditor"
            id="org.uberfire.eclipse.editors.EclipseTextEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <!-- @WorkbenchEditor(identifier="DRLEditor") -->
      <editor
            class="org.uberfire.eclipse.browser.editors.UberfireEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="drl"
            icon="icons/sample.gif"
            id="org.uberfire.eclipse.editors.DRLEditor"
            name="Uberclipse Drools Rule Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <!-- @WorkbenchEditor(identifier="GuidedDecisionTableEditor") -->
      <editor
            class="org.uberfire.eclipse.browser.editors.UberfireEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="gdst"
            icon="icons/sample.gif"
            id="org.uberfire.eclipse.editors.GuidedDecisionTableEditor"
            name="Uberclipse Decision Table Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <!-- @WorkbenchEditor(identifier="org.kie.guvnor.globals") -->
      <editor
            class="org.uberfire.eclipse.browser.editors.UberfireEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="gdrl"
            icon="icons/sample.gif"
            id="org.uberfire.eclipse.editors.org.kie.guvnor.globals"
            name="Uberclipse Globals Editor">
      </editor>
   </extension>

</plugin>
